// Light Colors
$light-background: #ffffff;
$light-text: #333333;
$light-primary: #007bff;
$light-secondary: #6c757d;

// Dark Colors
$dark-background: #333333;
$dark-text: #ffffff;
$dark-primary: #007bff;
$dark-secondary: #6c757d;
