@import "../../../app/globals.scss";

.header {
  background-color: $dark-background;
  border-bottom: 1px solid $dark-secondary;
  padding: 20px;

  nav {
    .title {
      flex-grow: 10;
    }
    :not(:first-child) {
      flex-grow: 1;
    }
    ul {
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    li {
      margin: 0;
      padding: 0;
    }

    .link {
      color: $dark-tertiary;
      border: none;
      text-decoration: none;
      padding: 10px 2px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: inline;
      &:hover {
        animation: fadeIn 1s;
      }
    }
  }

  @keyframes fadeIn {
    0% {
      color: $dark-tertiary;
    }
    100% {
      color: $dark-text;
    }
  }
}
